input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=date],
input[type=tel],
select,
textarea {
    border-bottom: none;
    background-color: #d9d9d9;
    display: block;
    width: 100%!important;
    max-width: 600px!important
}

h3 {
    margin-top: 15px
}

#form .tier {
  margin-top: 15px;
}

#form h3 {
  margin-top: 25px;
}

#form label {
  margin-top: 5px;
}

#form textarea {
  width: 600px;
  height: 200px;
}

#form ul {
  list-style: none;
}

#form ol {
  padding-left: 25px;
}

#reserve_results {
    margin: 25px 0
}

#reserve_results small {
    background-color: #d2d2d2;
    padding: 15px;
    width: 100%;
    max-width: 400px;
    display: block
}

#reserve_results ul {
  padding-left: 25px;
}

/*
.process_results .summary {
    font-style: italic
}

.process_results .summary br {
    display: none;
    padding: 0;
    margin: 0
}
*/
